<!DOCTYPE html>
<html>
    <% let rootPath = '../../../'; %>
    <%- include(rootPath + 'views/layout/head'); %>
    <body>
        <%- include(rootPath + 'views/layout/header'); %>
        <main>
            <% console.log(book); %>
            <% var action; %>
            <% if (book.id) { %>
            <%      action = '/update'; %>
            <% } else { %>
            <%      action = '/save'; %>
            <% } %> 
            <% console.log(action); %>
            <div class="toggle"></div>
                <h4><%= book.title; %></h4>
                <h5><%= book.authors; %></h5>
                <h6><%= book.isbn; %></h6>
                <img class="bookimage" src="<%= book.img_url; %>">
                <p><%= book.description; %></p>
            </div>
            <form class="saveForm" action="<%=action%>" method="post">
                <% if (book.id) { %>
                    <!-- <input type="hidden" name="_method" value="put"> -->
                <% } %>
                <button type="button" class="toggleButton">Edit Book Info</button>
                <fieldset class="toggle hidden">
                    <label>Title:<input type="text" name="title" value="<%= book.title %>"></label>
                    <label>Authors:<input type="text" name="authors" value="<%= book.authors %>"></label>
                    <label>ISBN:<input type="text" name="isbn" value="<%= book.isbn %>"></label>
                    <label>Thumbnail URL:<input type="text" name="img_url" value="<%= book.img_url %>"></label>
                    <label>Description:<input type="text" name="description1" value="<%= book.description1 %>"></label>
                    <label>Bookshelf notes:<input type="text" name="bookShelf" value=""></label>
                    <% if (book.id) { %>
                    <input class="hidden" type="text" name="id" value="<%=book.id%>">
                    <% } %>
                </fieldset>
                <input type="submit" value="Save to My Books">
            </form>
            <% if (book.id) { %>
            <form class="delete" action="/delete" method="post">
                <input class="hidden" name="id" type="text" value="<%=book.id%>">
                <input type="submit" value="Remove From My Books">
            </form>
            <% } %>
        </main>
        <%- include(rootPath + 'views/layout/footer'); %>
    </body>
</html>