<!DOCTYPE html>
<html>
    <% let rootPath = '../../../'; %>
    <%- include(rootPath + 'views/layout/head'); %>
    <body>
        <%- include(rootPath + 'views/layout/header'); %>
        <main>
            <% books.forEach(book => { %>
                <div class="bookCard">
                    <h4><%= book.title; %></h4>
                    <h5><%= book.authors.join(', '); %></h5>
                    <h6><%= book.isbn; %></h6>
                    <img class="bookimage" src="<%= book.img_url; %>">
                    <p><%= book.description; %></p>
                </div>
            <% }); %>
        </main>
    <%- include(rootPath + 'views/layout/footer'); %>
    </body>
</html>


