<% console.log(books); %>
<% books.forEach(book => { %>rs
    <div class="bookCard">
        <h4><%= book.title; %></h4>
        <h5><%= book.authors; %></h5>
        <h6><%= book.isbn; %></h6>
        <img class="bookimage" src="<%= book.img_url; %>">
        <p><%= book.description; %></p>
        <form class="saveForm" action="/saveBook" method="post">
            <fieldset>
                <label>Title:<input type="text" name="title" default="<%= book.title %>"></label>
                <label>Authors:<input type="text" name="authors" default="<%= book.authors %>"></label>
                <label>ISBN:<input type="text" name="isbn" default="<%= book.isbn %>"></label>
                <label>Thumbnail URL:<input type="text" name="img_url" default="<%= book.image_url %>"></label>
                <label>Description:<input type="text" name="description" default="<%= book.description %>"></label>
                <label>Bookshelf notes:<input type="text" name="bookShelf" default=""></label>
                <input type="submit" value="Save to My Books">
            </fieldset>
        </form>
        <form class="detailView" action="/viewBook" method="post">
            <fieldset>
                <div class="hidden">
                    <label>Title:<input type="text" name="title" default="<%= book.title %>"></label>
                    <label>Authors:<input type="text" name="authors" default="<%= book.authors %>"></label>
                    <label>ISBN:<input type="text" name="isbn" default="<%= book.isbn %>"></label>
                    <label>Thumbnail URL:<input type="text" name="img_url" default="<%= book.image_url %>"></label>
                    <label>Description:<input type="text" name="description" default="<%= book.description %>"></label>
                    <label>Bookshelf notes:<input type="text" name="bookShelf" default=""></label>
                </div>
                <input typ="submit" value="Detail View">
            </fieldset>
        </form>
    </div>
<% }); %>